@font-face {
    font-family:'Roboto';
    src: url('./fonts/roboto/Roboto-Regular.ttf');
}


:root{
    --clr-1:#b23a3a;
    --clr-3:#e91010;
    --clr-7: #72ffd6;
    --clr-8: #48f77a8e;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: fit-content;
    border-radius: 4px 6px;
    line-height: 1.5;
    color: #d5e6ea;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;

    }
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background: url(img/space.jpg);
        background-size: cover;
        font-family: 'Roboto';
        padding-left: 15px;
        margin: 5px 10px;
        margin-top: 60px;
        padding-right: 30px;
    }
    nav{
        position: fixed;
        right: 40px;
        z-index: 20;
    }
    button{
        border: none;
        font-family: 'Roboto';
        font-size: larger;
        font-weight: bold;
        color: var(--clr-1);
    }
    #scrollToTopButton{
        background-color:  var(--clr-8);
        width: fit-content;
        margin:15px 10px;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        right: 40px;
        position: fixed;
        margin-top: 50px;
        z-index: 20;
        color: var(--clr-1);
    }
    #arrow,#tekkadan{
        height:50px ;
        width: 50px;
    }
    .retour{
        background-color:  var(--clr-8);
        width: fit-content;
        margin:15px 10px;
        padding: 10px;
        font-size: 20px;
       
    } 
     .retour a{
        text-decoration: none;
    }
    .retour:hover, #scrollToTopButton:hover{
        background-color: whitesmoke;
        scale: 1.1;
        cursor:pointer;
        transition: all  400ms cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    .retour a:hover{
color: var(--clr-3);
    }
    
    li{
        list-style: none;
        font-size: larger;
        font-weight: bold;
        color: var(--clr-1);
    }
    .cockpit{
        margin: 15px;
        padding: 15px 60px;
        background-color: #242b337e;
        backdrop-filter: blur(2px);
    }
    h2{
        margin-bottom: 20px;
    }

/* ////////////////////////////////////////////////////////// */

.video{
    background-color: #242b337e;
    margin: 15px;
    padding: 15px 60px;
    backdrop-filter: blur(5px);
}
li ,p{
    margin-bottom: 20px;
}
#adobe{
    border: solid 10px #A4B6BA;
    background-color: #A4B6BA;
}
.pro{
    height:200px ;
    width: 200px ;
}
.effects{
    height:200px  ;
    width:200px  ;
}
.encoder{
    height: 200px ;
    width: 200px ;
}
.photo{
    height:200px  ;
    width:200px  ;
}
.preload{
    height:600px  ;
    width:1000px  ;
}
.transparence{
    height:400px  ;
    width:600px  ;
}
.ecretOne{
    height:400px  ;
    width:600px  ;
}
.ecretTwo{
    height:600px  ;
    width:600px  ;
}
.rotor{
    height:600px  ;
    width:1000px  ;
}
