/* @property --gradient-angle {
syntax: "<angle>";
initial-value: 0deg;
inherits: false;
} */
:root{
    --clr-1:#b22222;
    --clr-2:#60df2e;
    --clr-3:#e91010;
}
@font-face {
    font-family:'Roboto';
    src: url('./fonts/roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Neon';
    src: url('./fonts/neon/._NEON CLUB MUSIC_medium.otf')format("opentype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
scroll-behavior: smooth;
margin: 0;
padding: 0;
height: 100vh;
overflow-y: hidden;
overflow-x: hidden;
}
/* ---------------------BODY------------------------ */
body{
    min-height: 100vh;
    min-width: 100vw ;
    background-image:url(img/cockpit.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* ---------------------CONTAINER------------------------ */

.container {
    min-height: 100vh;
    min-width: 100vw ;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 32% 43% 25%;
    grid-template-areas: "hautG hautM hautD"
"ecranG milieu ecranD"
"basG basM basD";
}
/* -----------------------------PARTIE GAUCHE----------------------------------------------- */
.laterale-gauche{
    grid-area: hautG/ecranG/basG;
    border: black solid 2px;
    perspective: 1000px;
    height: 100%;
    width: 100%;
   
}
.hautG{
    height: 32vh;
    grid-area: hautG;
   
}
.basG{
    height: 25vh;
    grid-area: basG;
}
/* ----------------------------écranGauche----------------------------------------------- */

.ecran-gauche{
    height: 43vh;
    grid-area: ecranG;
    background-color:aqua ;
    transform: matrix3d(-2, 0.1, 1.5, 0, .045, 1.1, 0, 0, 0, 0, 1, 0, -160, -10, 0, 1);

}
/*----------------------------PARTIE DROITE----------------------------------------------- */

.laterale-droite{
    grid-area: hautD/ecranD/basD;
    border: black solid 2px;
    perspective: 1000px;
    height: 100%;
    width: 100%;
   
}
.hautD{
    grid-area: hautD;
    height: 32vh;
}
.basD{
    grid-area: basD;
    height: 25vh;
}

/*----------------------------écranDroite----------------------------------------------- */
.ecran-droit{
    height: 43vh;
    grid-area: ecranD;
    /* transform: matrix3d(a, b, 0, 0, c, d, 0, 0, 0, 0, 1, 0, tx, ty, 0, 1);
    a, b, c, d définissent la rotation et l'échelle.
    tx et ty définissent les translations sur les axes X et Y. */
    transform: matrix3d(1.2, 0.1, 1.5, 0, -.01, 1.1, 0, 0, 0, 0, 1, 0, -50, 30, 0, 1);
    background-color: #b22222;
}


/*----------------------------MILIEU----------------------------------------------- */

.centre{
    grid-area: hautM/milieu/basM;
    border: black solid 2px;
    height: 100%;
    width: 100%;
    
}
.haut-milieu{
    grid-area: hautM;
    height: 32vh;
}
.ecran-milieu{
    grid-area: milieu;
    height: 43vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
}

#faceB,#dosB,
#scanBface,#scanBdos{
    width:170px ;
    height:280px ;
   
}
#scanBface,#scanBdos{
    transform: scaleX(-1);
}
.rayBarbatos{
margin-left: 80px;
}
.toggleButton{
    width: 200px;
    padding: 5px;
    margin-left: 10%;
}
.basMilieu{
    grid-area: basM;
    height: 25vh;
    display: flex;
    flex-direction: column;
  
}
.outils{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
}
button{
    background: rgb(114,255,214);
    background: radial-gradient(circle, rgba(114,255,214,1) 0%, rgba(72,247,121,1) 100%);
    border:1px solid rgb(51, 255, 51) ;
    box-shadow: 5px 2px 2px  rgba(0, 0, 0, 0.377) ;
    color:#242B33 ;
    cursor: pointer;
    font-family:'Roboto';
    margin-bottom: 4px;
    opacity: 0.75;
}
button:hover{
    scale: 1.3;
    border-radius: 6px;
    background:whitesmoke ;
    transition: 300ms ease-in-out;
    color: var(--clr-3);
    opacity: 1;
    border: none;
}
.outils button{
    padding: 8px;
    width: fit-content;
    margin-bottom: 40%;
    margin-right: 2%;
   
}
/* ------------------------MEDIA QUERIES------------------------
https://talks.freelancerepublik.com/responsive-web-design-media-queries-css/ */


/* smartphone*/
@media only screen and (max-width: 780px){
    body {
        min-height: 100vh;
        min-width: 100vw ;
        background-image:url(img/cockpit.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: grid;
        grid-template-columns: 32% 36% 32%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "latG milieu latD"
                             "latG milieu latD"
                             "latG milieu latD";
    }
}
/* tablette */
 @media only screen and (min-width:780px) and (max-width: 990px){
    body {
        min-height: 100vh;
        min-width: 100vw ;
        background-image:url(img/cockpit.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: grid;
        grid-template-columns: 32% 36% 32%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "latG milieu latD"
                             "latG milieu latD"
                             "latG milieu latD";
    }
 } 
/*desktop*/
@media only screen and (min-width: 1024px){
    body {
        min-height: 100vh;
        min-width: 100vw ;
        background-image:url(img/cockpit.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: grid;
        grid-template-columns: 32% 36% 32%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "latG milieu latD"
                             "latG milieu latD"
                             "latG milieu latD";
    }
} 




/* 
------------------------VIDEO PRELOAD---------------------------------------------------------- */
 #preloader{
    z-index: 100;
    height: 100vh;
    width:  100vw;
    object-fit: fill;
    
}