<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" id="favicon" href="./img/Tekkadan_logo.webp" type="image/x-icon">

  <title>Mobile Suit|Barbatos| ガンダム・バルバトス</title>
</head>

<body>
  <video id="preloader" preload="auto" autoplay canplaythrough>
    <source src="videos/PreloaderChargement.mp4" type="video/mp4">
  </video>
  <div class="laterale-gauche">
    <div class="ecran-gauche"></div>
  </div>


  <div class="milieu"></div>


  <div class="laterale-droite">
    <div class="ecran-droit"></div>
  </div>





</body>

</html>