<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <script src="./app.js"></script>
  <title>Mobile Suit|Barbatos| ガンダム・バルバトス</title>
</head>

<body>
  <header>
    <div class="lateral"></div>
  </header>
  <main>
    <div class="title">
      <h1> Mobile Suit</h1>
    </div>
    <div class="container">
      <div class="barbatosFace">
        <img src="./img/face.png" id="barbatos" alt="" />
        <img src="./img/faceScanner.png" id="hover-barbatos" alt="">
      </div>

      <div class="description">
        <h2>ガンダム・バルバトス</h2>
        <p class="french">
          Le Gundam Barbatos est une Armure Mobile apparaissant dans la série
        <p>
          Mobile Suit Gundam: Iron-Blooded Orphans.</p>
        <p> Elle est pilotée par
          Mikazuki Augus</p>
        </p>
        <p class="langButto">
          <button class="english">英語 - English</button>
          <button class="japanese">日本語 - Japanese</button>
        </p>
        <div class="paveTrad">
          <p id="english" hidden><%= gundamEnglish[0].content %></p>


          <p id="japanese" hidden><%= gundamEnglish[1].content %></p>
        </div>
      </div>
      <div class="barbatosDos">
        <img src="./img/dos.png" alt="" />
      </div>
    </div>
    <div class="gallery">
      <img src="./img/upperBody.jpg" id="upperBody" alt="">
      <img src="./img/lupusRexMode1.jpg" id="lupus" hidden alt="">
      <img src="./img/upperbodyWeapon1.jpg" id="weapon" hidden alt="">
    </div>
  </main>
  <footer></footer>
</body>

</html>