<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styleTwo.css" />
  <link rel="shortcut icon" id="favicon" href="/img/Tekkadan_logo.webp" type="image/x-icon">
  <title>Mobile Suit|Barbatos| ガンダム・バルバトス</title>
</head>

<body>
  <header></header>
  <main>Les logiciels utilisés!!</main>
  <footer></footer>
</body>

</html>